* {
    padding: 0;
    margin: 0;
}


body {
    font-family: "Work Sans", sans-serif;
}

img {
    max-width: 100%;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    padding: 15px 25px;
    border-radius: 8px;
    border: 0;
    background-color: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 1px 2px burlywood;
}


/* Header section */

.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 0;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
}

.hero {
    display: flex;
}

.hero-items {
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    margin-right: 70px;
}

.hero-items:last-child {
    margin-right: 0;
}

.hero-items>a {
    text-decoration: none;
    color: #424242;
}

.hero-items:hover a {
    text-decoration: underline;
}


/* Banner Section */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.banner-title {
    margin-top: 60px;
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    max-width: 865px;
    text-align: center;
}

/* team section */
.team {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 50px auto;
    padding: 80px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}

.team-caption {
    width: 50%;
}

.team-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.team-caption .f {
    color: #FF900E;
    font-weight: 700;
}

.team-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}


/* Our feature section */
.feature {
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px auto;
}

.features {
    width: 50%;
}

.feature-img {
    width: 50%;
}

.feature-img img {
    width: 100%;
}

.feature-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    padding-left: 15px;
    border-left: 5px solid #FF900E;
    margin-bottom: 20px;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.feature-card {
    padding: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 25px;
    border-radius: 5px;
}

.card-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}


.experience {
    position: absolute;
    bottom: -80px;
    right: 360px;
    padding: 50px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    text-align: center;
}

.experience>h4 {
    font-size: 65px;
    font-weight: 700;
}

.experience>p {
    font-size: 25px;
    font-weight: 500;
}


/* Fact Section */
.fact{
    margin: 150px auto;
}
.fact-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.fact-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 100px;
}
.facts{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-around;
}

.fact-card {
    padding: 40px 30px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.fact-card>img {
    width: 50px;
}

.fact-card-title {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin: 10px 0;
}

.fact-card-description {
    color:#727272;
    font-size: 20px;
    font-weight: 600;
}











@media screen and (max-width: 576px) {
    .btn-primary {
        font-size: 18px;
    }

    .nav {
        padding: 20px;
        flex-direction: column;
        gap: 30px;
    }

    .hero-items {
        margin-right: 30px;
        font-size: 16px;
    }

    /* banner */
    .banner {
        padding: 20px;
    }

    .banner-title {
        font-size: 50px;
    }

    .banner-description {
        font-size: 15px;
    }

    /* team section */

    .team {
        flex-direction: column-reverse;
        margin: 50px auto;
        padding: 20px;
    }

    .team-title {
        font-size: 40px;
    }

    .team-img {
        width: 100%;
        gap: 10px;
    }

    .team-caption {
        width: 100%;
    }


    /* Feature section */
    .feature {
        flex-direction: column;
        padding: 20px;
        margin: auto;
        gap: 50px;
    }

    .features {
        width: 100%;
    }

    .feature-img {
        width: 100%;
    }

    .feature-title {
        font-size: 35px;
    }

    .feature-description {
        font-size: 15px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        font-size: 15px;
    }

    .experience {
        position: absolute;
        bottom: -30px;
        right: 80px;
        padding: 20px 30px;
        border-radius: 8px;
        background: #FF900E;
        color: white;
        text-align: center;
    }

    .experience>h4 {
        font-size: 45px;
        font-weight: 700;
    }

    .experience>p {
        font-size: 20px;
        font-weight: 500;
    }


    /* fact section */

    .fact{
        padding: 20px;
        margin: 80px auto;
    }
    .fact-title {
        font-size: 35px;
    }
    .fact-description {
        margin-bottom: 50px;
    }
    .facts{
        grid-template-columns: repeat(1, 250px);
        gap: 20px;
    }
    .fact-card {
        padding:  30px;
        border: 1px solid #FF900E;
        border-radius: 8px;
        text-align: center;
    }

}